
 /* Visibility utilities */
.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

@media only screen and (max-width: 543px){
  .hidden-xs-down {
    display: none !important;
  }
}

@media only screen and (max-width: 767px){
  .hidden-sm-down {
    display: none !important;
  }
}

@media only screen and (max-width: 991px){
  .hidden-md-down {
    display: none !important;
  }
}

@media only screen and (max-width: 1199px){
  .hidden-lg-down {
    display: none !important;
  }
}

@media only screen and (max-width: 1199px){
  .hidden-xl-down {
    display: none !important;
  }
}
